@import "tailwindcss";
@config "../tailwind.config.ts";
@media (min-width: 768px) {
  body,
  body * {
    cursor: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a1428;
  color: white;
  font-family: var(--font-inter), sans-serif;
}
